name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/serenity-js/playwright:v1.57.0-noble
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.13.0'
      - name: Setup Node Modules
        uses: bahmutov/npm-install@v1
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: serenity-report
          path: target/site/serenity
          retention-days: 30
      - name: GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        if: github.ref == 'refs/heads/main'
        with:
          branch: gh-pages
          folder: target/site/serenity
          clean: true
